<!doctype html>

<html lang="en">
<head>
<link rel = "stylesheet" href = "{{ url_for('static', filename='loginStylesheet.css')}}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<meta charset="utf-8">

  <title>Fin-Ai login</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">


<!------ Include the above in your HEAD tag ---------->

</head>

<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Login Form -->
    <form action="" method="post">
	{{ form.hidden_tag() }}
	{{form.email(type="text")}}
	{{form.password(type="text")}}
	{{form.passwordConfirm(type="password")}}
	{{form.submit(type="submit")}}
		{% if form.errors %}
			{{ form.errors }}
		{% endif %}
    </form>

    <!-- Remind Passowrd -->
  </div>
</div>

</body>
</html>
